header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.main {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.attribution {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
