#container{
	width: 420px;
	height: 610px;
	margin:0 auto; 
	padding: 10px;        
	text-align:left; 	
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

li {
	display: inline-block;
	width:30px;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	list-style:none;
	border: 1px solid black;
	margin:0 auto;
}

li.btn{
	cursor: pointer;
}

li:hover{
	border-radius:20%;
	border: 1px solid black;
}

li#gray{
	margin: 5px;
	background: #808080;
}
li#yellow{
	margin: 5px;
	background: #FFFF00;
}
li#red{
	margin: 5px;
	background: #FF0000;
}
li#blue{
	margin: 5px;
	background: #0080FF;
}
li#green{
	margin: 5px;
	background: #00FF00;
}
li#purple{
	margin: 5px;
	background: #8000FF;
}

#divCanvas, #menu{
	float: left;
	text-align: center;
}

#divCanvas{
	border: 2px solid;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

p#restart{
	margin-top: 20px;
	cursor: pointer;
	text-align: center;
	border: 1px solid;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

p#restart:hover{
	border: 1px solid rgb(200,0,0);
	box-shadow: 0px 0px 10px rgba(100,0,0,0.5);
	color: rgb(200,0,0);
}

.puzzle {
	border: 1px solid black;	
}