asgiref==3.2.7
astroid==2.4.0
colorama==0.4.3
cycler==0.10.0
Django==3.1.14
isort==4.3.21
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
matplotlib==3.3.3
mccabe==0.6.1
numpy==1.22.0
opencv-python==4.5.1.48
Pillow==10.2.0
pylint==2.5.0
pyparsing==2.4.7
PySimpleGUI==4.33.0
python-dateutil==2.8.1
pytz==2019.3
six==1.15.0
sqlparse==0.3.1
toml==0.10.0
wrapt==1.12.1
